/*@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: static;
}*/
body{
  max-width: auto;
  margin-left: auto;
  font-family: "Audiowide", sans-serif;
/*  background: #AB2929;
  background: linear-gradient(90deg, rgba(171, 41, 41, 1) 0%, rgba(250, 42, 74, 1) 33%, rgba(255, 255, 255, 1) 100%);*/
  background-color: #fff;
}
h1, h2{
  text-align: center;
}
nav{
  display: flex;
  justify-content: flex-end;
}
.gridContainer{
  max-width: auto;
  margin-left: 70px;
  margin-right: 70px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  padding-bottom: 80px;
  border:1px solid #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}
img {
  max-width: 100%;
  border-radius:8px;
  margin-bottom: 10px;
}